<div class="card border-secondary mb-3">
        <div class="card-header">Clients</div>
        <div class="card-body text-secondary">
            <h5 class="card-title">List of Clients</h5>
            <div class="text-left">
                <button class="btn btn-rounded btn-primary mb-3" type="button" [routerLink]="['/form']">Create Client</button>
            </div>
            <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>id</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let client of clients">
                    <th>{{ client.id }}</th>
                    <th>{{ client.firstName }}</th>
                    <th>{{ client.lastName }}</th>
                    <th>{{ client.email }}</th>
                    <th>{{ client.createAt }}</th>
                </tr>
            </tbody>
            </table>
        </div>
    </div>